---
import Navbar from './navbar.astro'

const { 
  title = 'Garyfield Blog',
  description = 'apps for us',
  className = 'container',
  light = '#ffffff',
  dark = '#000000'
} = Astro.props
---
<html lang='en'>
  <head>
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta property='og:description' content={description} />
    <meta property='og:title' content={title} />
    <meta charset='utf-8' />
    <meta name='keywords' content='girlfriend, technology' />
    <meta name='viewport' content='initial-scale=1.0, width=device-width' />
    <meta property='og:type' content='website' />
    <meta name='twitter:image' content='/cover.png' />
    <meta name='twitter:image:alt' content='logo for girlfriend.technology' />
    <meta property='og:image' content='/cover.png' />
    <meta property='og:image:height' content='630' />
    <meta property='og:image:width' content='1200' />
    <link rel='apple-touch-icon' href='/apple-touch-icon.png' />
    <link rel='icon' href='/favicon.ico' />
    <link rel='mask-icon' sizes='any' href='/mask-icon.svg' color={light} />
    <!-- <link rel='stylesheet' type='text/css' href={Astro.resolve('../styles/global.css')} /> -->
    <style global define:vars={{ dark, light }} />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">	
  </head>
  <body class={className}>
    <Navbar />
    <slot />
    <script type="module" src={Astro.resolve('../utils/theme-switcher.js')} ></script>    
  </body>
</html>